@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kosugi+Maru&display=swap');


span.mark1 {
  background-color:aliceblue;
  border-radius: 5px;
} 
#hit{
  display: block;
  text-align: center;
  background-color: #627250;
}

#search-input{
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
  margin-left: 39%;
	margin-bottom: 20px;
	padding: 10px;
	width: 200px;
	height: 40px;
	font-size: 100%;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
	border-right: none;
}
#btn-onoff{
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
	color: #fff;
	width: 50px;
	height: 40px;
	font-size: 100%;
	vertical-align: top;
	border: none;
	border-radius: 0 5px 5px 0;
  background: #647f46;
}

*{
  box-sizing: border-box;
}
#drawer-navigation{ 
	display:none;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface'; 
  background-color: #bdbf92;
  color: aliceblue;
}
header{
  width:100%;
  padding: 30px 4% 10px;
  background-color: #bdbf92;
  top: 0;
  display: flex;
  align-items: center;
}
h1{
  margin: 0;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: aliceblue;
}
ul{
  list-style: none;
  margin: 0;
  display: flex;
}
li{
  margin: 0 0 0 15px;
  font-size: 14px;
}
nav {
  margin: 0 0 0 auto;
}
li :hover{
  color: #647f46;
}
.sp-nav{
  display: none;
}


@media screen and (max-width: 640px) {
  .pc-nav {
     display: none;
  }
  .sp-nav {
     z-index: 1;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     display: block;
     width: 100%;
     background: rgba(0, 0, 0, .8);
     opacity: 0;
     transform: translateY(-100%);
     transition: all .2s ease-in-out;
  }
  #hamburger {
     position: relative;
     display: block;
     width: 30px;
     height: 25px;
     margin: 0 0 0 auto;
  }
  #hamburger span {
     position: absolute;
     top: 50%;
     left: 0;
     display: block;
     width: 100%;
     height: 2px;
     background-color: aliceblue;
     transform: translateY(-50%);
  }
  #hamburger::before {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 2px;
     background-color: aliceblue;
  }
  #hamburger::after {
     content: '';
     display: block;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 70%;
     height: 2px;
     background-color: aliceblue;
  }
  /*スマホメニュー*/
  .sp-nav ul {
     padding: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
  }
  .sp-nav li {
     margin: 0;
     padding: 0;
  }
  .sp-nav li span {
     font-size: 15px;
     color: aliceblue;
  }
  .sp-nav li a, .sp-nav li span {
     display: block;
     padding: 20px 0;
  }
  /*-閉じるアイコンー*/
  .sp-nav .close {
     position: relative;
     padding-left: 20px;
  }
  .sp-nav .close::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 0;
     display: block;
     width: 16px;
     height: 1px;
     background: aliceblue;
     transform: rotate( 45deg );
  }
  .sp-nav .close::after {
     content: '';
     position: absolute;
     top: 50%;
     left: 0;
     display: block;
     width: 16px;
     height: 1px;
     background: aliceblue;
     transform: rotate( -45deg );
  }
  .toggle {
     transform: translateY( 0 );
     opacity: 1;
  }
}

footer{
  width: 100%;
  height: 100px;
  color: aliceblue;
  text-align: center;
  font-size: 10px;
}
.f-menu ul{
  padding: 0;
  display:flex;
  justify-content: center;
}



.main-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
h2 {
  margin: 0;
  font-size: 60px;
  font-weight: normal;
  color: aliceblue;
}

p{
  margin: 10px;
  color: aliceblue;
}
p1{
  color: #647f46;
}



/*index.html button[START]*/
.content {
  width: auto;
  height: auto;
}
.inner {
  padding:  45px;
  display: flex;
  justify-content: space-evenly;
}
.btn01{
  width: 230px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: aliceblue;
  background: #333;
  position: relative;
  padding: 0 0 0 10px;
}
.btn01:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent aliceblue;
  position: absolute;
  top: 40%;
  left: 0;
  right: 90px;
  margin: auto;
}
.btn01:hover{
  color: #333;
  background: aliceblue;
}
.btn01:hover:before{
  border-color: transparent transparent transparent #333;
}
/*index.html button[END]*/

/*score design [START]*/
p{
  font-family: 'M PLUS Rounded 1c';
  margin: 20px;
}
h3 {
  position: relative;
  padding:0 0 0.5em 0.7em;
  border-bottom: 1px solid aliceblue;
  color: #647f46;
  font-family: 'M PLUS Rounded 1c';
  font-size: 25px;
}
h3::after {
  position: absolute;
  top: 0.2em;
  left:0;
  content: '';
  width: 5px;
  height:1em;
  background-color: aliceblue;
}
/*score design [END]*/

/*scroll.action design [START]*/
.scroll_button{
  margin: 20px;
  font-size: 15px;
  text-align: right;
}
/*scroll.action design [END]*/


